{% extends 'recipes/base.html' %}

{% block content %}

<div class="card p-4 shadow">

    <h2>✏️ Update Profile</h2>

    <form method="POST">
        {% csrf_token %}

        <input type="text" name="username"
               value="{{ request.user.username }}"
               class="form-control mb-3" required>

        <input type="email" name="email"
               value="{{ request.user.email }}"
               class="form-control mb-3" required>

        <button class="btn btn-success">Update</button>
    </form>

</div>

{% endblock %}